.gallery-rooms-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding-top: 160px;
    background: var(--white2);
}

.gallery-rooms-images-images {
    margin: 5px;
}

.gallery-rooms-images-images-inside {
    width: 500px;
    height: 300px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
}