.gallery-rooms-images-container {
    display: grid;
    gap: 10px;
    width: 100%;
    padding: 200px 10px 10px 10px;
    min-height: 100vh;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-rooms-images {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

@media (max-width: 1900px) {
    .gallery-rooms-images-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1024px) {
    .gallery-rooms-images-container {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 768px) {
    .gallery-rooms-images-container {
        padding: 120px 10px 10px 10px;
    }
}