.booking-container {
    position: relative;
    margin-top: 200px;
}

.rooms-grid {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: fit-content;
}
