.room-container {
    box-sizing: border-box;
    position: relative;
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: 10px;
    display: grid;
    width: 100%;
    max-width: 600px;
    height: 100%;
    grid-template:
    [header-left] "head head" auto [header-right]
    [main-left] "img main" auto [main-right]
    / 1fr 2fr;
}

.room-title-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    text-indent: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    color: var(--white);
    grid-area: head;
}

.room-title-bar > p:nth-child(1) {
    padding-top: 10px;
    font-family: var(--title-font), serif;
}

.room-title-bar > p:nth-child(2) {
    padding-bottom: 10px;
    font-family: var(--title-font), serif;
}

.room-name {
    font-weight: bold;
    font-size: 1.2rem;

}

.room-image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: img;
}

.room-image {
    width: 100%;
    border: 2px solid var(--color1);
    border-top: none;
}

.room-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    gap: 10px;
    border-left: 2px solid var(--color1);
    grid-area: main;
}

.room-number-of-rooms-container,
.room-guests-per-current-room-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.room-number-of-rooms-container > select {
    width: 2rem;
    height: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: var(--color1);
    background-color: var(--white);
    border: 2px solid var(--color1);
    border-radius: 5px;
    cursor: pointer;
    appearance: none;
}

.room-number-of-rooms-container > span,
.room-guests-per-current-room-container > span {
    color: dimgrey;
}

.room-guests-per-room-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-price {
    margin: 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--color1);
}