.room-container {
    position: relative;
    border: 2px solid var(--color1);
    border-radius: 5px;
    margin: 10px;
    display: grid;
    width: 100%;
    max-width: 600px;
    height: 100%;
    grid-template:
    [header-left] "head head" 1fr [header-right]
    [main-left] "img main" auto [main-right]
    / 1fr 2fr;
}

.room-title-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    text-indent: 10px;
    width: 100%;
    height: 100%;
    background-color: var(--color1);
    color: var(--white);
    grid-area: head;
}

.room-name {
    font-weight: bold;
}

.room-image-container {
    position: relative;
    width: 100%;
    height: 100%;
    grid-area: img;
}

.room-image {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
}

.room-main {
    border-left: 2px solid var(--color1);
    text-indent: 10px;
    line-height: 2;
    grid-area: main;
}
