.my-booking-collapsible-opened {
    justify-items: center;
}

.my-booking-collapsible-closed {
    justify-items: center;

}

.my-booking-collapsible-trigger-opened {
    display: inline-block;
    border: 2px solid #A26E20;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
}

.my-booking-collapsible-trigger-closed {
    display: inline-block;
    border: 2px solid #A26E20;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 2rem;
    padding: 5px;
}

.my-booking-collapsible-content-outer {
    width: 100%;
    border-radius: 10px;
}

.my-booking-container {
    width: 100%;
    display: grid;
    grid-template:
    [header-left] "head head" auto [header-right]
    [main-left] "img main" auto [main-right]
    / 1fr 1fr;
}

.my-booking-room-name {
    grid-area: head;
}

.my-booking-img-container {
    grid-area: img;
}

.my-booking-img {
    grid-area: img;
}

.my-booking-main {
    grid-area: main;
}