@media (max-width: 500px) {
    .my-booking-collapsible-trigger-opened,
    .my-booking-collapsible-trigger-closed,
    .my-booking-room-name,
    .my-booking-total-cost {
        font-size: 1.5rem;
    }

    .my-booking-main {
        font-size: 1rem;
    }
}

@media (min-width: 500px) {
    .my-booking-collapsible-trigger-opened,
    .my-booking-collapsible-trigger-closed,
    .my-booking-room-name,
    .my-booking-total-cost {
        font-size: 2rem;
    }

    .my-booking-main {
        font-size: 1.2rem;
    }
}

.my-booking-collapsible-opened {
    justify-items: center;
}

.my-booking-collapsible-closed {
    justify-items: center;

}

.my-booking-collapsible-trigger-opened {
    display: inline-block;
    border: 2px solid #A26E20;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.my-booking-collapsible-trigger-closed {
    display: inline-block;
    border: 2px solid #A26E20;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
}

.my-booking-collapsible-content-outer {
    width: 100%;
    border-radius: 10px;
}

.my-booking-container {
    width: 100%;
    display: grid;
    grid-template:
    [header-left] "head head" auto [header-right]
    [main-left] "img main" auto [main-right]
    / 1fr 2fr;
}

.my-booking-room-name {
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid var(--color1);
    padding: 10px;
    grid-area: head;
}

.my-booking-img {
    border-right: 2px solid var(--color1);
    border-bottom: 2px solid var(--color1);
    width: 100%;
    grid-area: img;
}

.my-booking-main {
    border-bottom: 2px solid var(--color1);
    padding: 10px;
    grid-area: main;
}

.my-booking-total-cost {
    padding: 10px;
    font-weight: bold;
    text-align: center;
}