.input-password-confirm {
    height: 2em;
    color: var(--color1);
    border: 2px solid var(--color1);
    padding-left: 8px;
}

.reg-form-block-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.reg-form-block-buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.register-button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0px;
    width: 200px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
}

.register-button {
    position: relative;
    color: rgb(104, 85, 224);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);

}

.login-button {
    margin-top: 0;
    margin-left: 50px;
}

.register-button:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}