.marketing-section {
    padding: 1rem;
    justify-items: center;
}

.text-container {
    width: 100%;
    color: var(--color1);
}

.text-container > h1 {
    font-weight: 400;
    text-align: center;
}

@media screen and (max-width: 920px) {
    .text-container > h1 {
        font-size: 16pt;
    }
}